body {
    background-color: #00617e;
    opacity: 1;
    background-image: radial-gradient(circle at center center, #23bd1b, #b338d1), repeating-radial-gradient(circle at center center, #ffffff, #ffffff, 40px, transparent 80px, transparent 40px);
    background-blend-mode: multiply;
   
   
    
  }

  li {
    font-size: 13px;
    font-weight: bold;
  }
  div.container {
    width: 96%;
    max-width: 960px;
    margin: 0 auto;
    }

    .imagCont{
      position: absolute;
      left: 50px;
      top:240px;
      height: auto;
    }
  .imagRF{
    position: absolute;
  left: 950px;
  top:240px;
  height: auto;
  }
  
  

  .navbar-brand {
    text-align: center;
    font-size: xx-large;
    font-family: pokemon;
    padding-right: 5%;
    color: yellow !important;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #0661b6;
  }
  
  .baner {
    height: 80px;
  }
  
  .ban {
    background-color: white;
  }
  .ban .line {
    height: 125px;
    padding-top: 5px;
    margin: auto 0px;
    background-color: #dc3545;
    clip-path: polygon(0 0, 100% 0, 100% 78%, 73% 78%, 57% 100%, 0 100%);
    border: 5px solid #000000;
  }
  
  .circ {
    background-color: #f3d809;
    border-radius: 100% 100%;
    height: 90px;
    width: 90px;
    margin: auto 0px;
    border: 4px solid #ffffff;
  }
  
  .card {
    border: 5px solid floralwhite;
    background-color: #dc3545;
  }
  .card .card-body {
    border-radius: 100px;
  }
  .card .card-body .card-title {
    background-color: rgb(253, 240, 52);
    text-align: center;
    left: 200px;

  }
  .card .card-body .card-text {
    
    background-color: #038daf;
    text-align: center;
  }
  .card .card-body h4 {
    text-align: center;
    font-weight: bold;
   
  }
  .card .card-body .numero {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    
  }
  .card .imagenpokemon {
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    border: 21px ridge #f7be04;
    height: 170px;
    width: 170px;
    background-color: #028bad;
    position: relative;
    left: -20px;
    top: -10px;
    
  }
  .card{
    
    padding-top: 17px;
  }
  
  .button{
    position: relative;
    top: -30px;
    left: 200px;
  }
  .pokedex {
    align-items: center;
  }
 
  
